body {
    font-family: Arial, sans-serif;
    background-image: url(https://wallpapers.com/images/hd/profile-picture-background-v3l1jfakc8kgmvg6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;


h1{
	text-align: center;
    color: white;
    text-size-adjust:10px;
}
h2{
	text-align: left;
	color: black;
}
p{
	color: white;
	font-size:30;
	font-family: bookman old style;
	text-align: justify;
}
img{
	width:500px;
	height:400px;
	box-shadow: 2px 5px 4px black;
	padding-left: 50px;
}
img{
	width:700px;
	height:400px;
	box-shadow: 2px 5px 4px black;
	padding-left: 50px;
}


